@page "/assets/infofilevalidation/{ContainerReference}/{AssetVersion}"
@implements IAsyncDisposable
@inject HttpClient http
@inject NavigationManager NavigationManager

<h3>Validate infofile assets</h3>

<div class="form-group">
    <a class="btn btn-success" href="assetcontainerdetail/@ContainerReference"><i class="oi oi-arrow-left"></i> Navigate back</a>
</div>

<div class="form-group">
    <a class="btn btn-outline-info" @onclick="() => StartCheck()"><i class="oi oi-calculator"></i> Start</a>
</div>

<hr />
@if (validationResult != null)
{
    <div>
        <span>Validation Results:</span><br />
        <ul>
            <li>Success: @validationResult.IsSuccessful</li>
            @*<li>Tests succeeded: @validationResult.TestSucceededCount</li>
            <li>Tests failed: @validationResult.TestsFailedCount</li>
            <li>Tests skipped: @validationResult.TestsSkippedCount</li>*@
        </ul>
    </div>
    <hr />
}

@if (messages.Count == 0)
{
    <p><em>Validation log</em></p>
}
else
{
    <p><em>@(messages.First().PercentDone) %</em></p>
    <table class="table-bordered">
        <thead>
            <tr>
                <td>FinishedWorkItemCount</td>
                <td>Message</td>
            </tr>
        </thead>
        <tbody id="messagesList">
            @foreach (var msg in messages)
            {
                <tr>
                    <td>@(msg.FinishedWorkItemCount)</td>
                    <td>@(msg.Message)</td>
                </tr>
            }
        </tbody>
    </table>
}
